.buttonA {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }


.buttonA :hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .Container{

    width: 250px;
    display: block;
    float:left;
  }

  #menu {
    background: #fff;
    margin: 0 8px 16px;
    z-index: 1;
 
    border-radius: 3px;
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
    }
     
    #menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
    }
     
    #menu a:last-child {
    border: none;
    }
     
    #menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
    }
     
    #menu a.active {
    background-color: #3887be;
    color: #ffffff;
    }
     
    #menu a.active:hover {
    background: #3074a4;
    }